<div class="service-header">
  View:
  <select class="form-control">
    <option>All</option>
  </select>
  <%= link_to new_service_path, {class: 'btn btn-link', remote: true} do %>
      <span class="glyphicon glyphicon-plus"></span> 
<%= t('service.index.add_new_service') %>
  <% end %>
  <hr>
</div>

<div id="new-service">
</div>

<div id="list-service">
  <%= render 'index' %>
</div>

<div id="service-modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div id="service-content" class="modal-content">
    </div>
  </div>
</div>

