<% if @user.errors.any? %>
$("div#success").remove();
$("div#errors").remove();
var error = $('<div id="errors"><p class="alert alert-danger">Please correct the following <%= pluralize(@user.errors.count, "error") %>:</p><ul><% @user.errors.full_messages.each do |msg| %><li class="errors"><%= msg %></li><% end %></ul></div>');
$("div.errors").append(error);
<% else  %>

$("div#errors").remove();
$("div#success").remove();
var success = $('<div id="success" class="alert alert-info"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><p>Change Password Success</p></div>');
$("div.errors").append(success);
$("input:password").val('');

<% end %>
