<% if @bulletin.errors.any? %>
$("ul.errors").html('')
<% @bulletin.errors.full_messages.each do |message| %>
$("ul.errors").append($("<li />").html("<%= message.html_safe %>"))
<% end %>
<% else %>
$('#notifications').html('<div class="alert alert-success alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>Bulletin was successfully <%= !@persisted ? 'created!' : 'updated!' %></div>')
$('#new-bulletin').html('')
$('#list-bulletin').html('<%= escape_javascript(render 'index') %>')

setTimeout(function () {
    $('div.alert.alert-success.alert-dismissible').alert('close');
}, 1500);
<% end %>

