<% if @bulletin.errors.any? %>

<% else %>
$('#notifications').html('<div class="alert alert-success alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button><%= t('bulletins.delete_success') %></div>')
$('#list-bulletin').html('<%= escape_javascript(render 'index') %>')
$('#bulletin-modal').modal('hide')

setTimeout(function () {
    $('div.alert.alert-success.alert-dismissible').alert('close');
}, 1500);
<% end %>

