<div class="row">
  <div class="col-md-6">
    <%= image_tag @guard_house.photo_path, {class: 'img-thumbnail col-md-12 col-sm-12 col-xs-12'} %>
  </div>
  <div class="col-md-6">
    <%= image_tag @guard_house.map_path, {class: 'img-thumbnail col-md-12 col-sm-12 col-xs-12'} %>
  </div>
</div>

