<div class="row">
  <div class="col-md-6">
    <%= image_tag @guard_house.photo_path.url(:thumbnail), { class: 'img-thumbnail col-lg-12 col-md-12 col-sm-12 col-xs-12' } %>
  </div>
  <div class="col-md-6">
    <%= image_tag @guard_house.map_path.url(:thumbnail), { class: 'img-thumbnail col-lg-12 col-md-12 col-sm-12 col-xs-12' } %>
  </div>
</div>
<br>
<p><b>Telephone: </b><%= @guard_house.phone %></p>

