<div class="guard-house-header">
  <%= link_to edit_guard_house_path, {class: 'btn btn-link', remote: true} do %>
      <span class="glyphicon glyphicon-plus"></span> Edit Guard House
  <% end %>
</div>
<hr>

<div id="content-guard-house">
  <%= render 'index' %>
</div>

<div id="list-guard-house-image">
  <%= render 'guard_house_images/index' %>
</div>

<div class="">
  <span>Guards on duty</span>

</div>
<div class="row">
  <div class="col-lg-12">
    <% @guard_house_images.each do |guard_house_image| %>

    <% end %>
  </div>
</div>

<div id="guard-house-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="guard-house-content" class="modal-content">
    </div>
  </div>
</div>

