<div class="modal-header">
  <h4 class="modal-title"><%= t('bookings.btn_delete') %></h4>
</div>
<div class="modal-body">
  <p><%= t('bookings.view') %></p>
</div>
<div class="modal-footer">
  <%= link_to t('bookings.btn_confirm'), '#', {onclick: 'deleteBooking()', class: 'btn btn-danger', remote: true} %>
  <%= link_to t('bookings.btn_cancel'), '#', {class: 'btn btn-default', data: {dismiss: 'modal'}} %>
</div>

