<div class="modal-header">
  <h4 class="modal-title">Delete</h4>
</div>
<div class="modal-body">
  <span>Confirm delete facility?</span>
</div>
<div class="modal-footer">
  <%= link_to 'Confirm', facility_path(@facility), { class: 'btn btn-danger', method: :delete, remote: true } %>
  <%= link_to 'Cancel', '#', { class: 'btn btn-default', data: { dismiss: 'modal'} } %>
</div>

