<div class="facility-header">
  View:
  <select class="form-control">
    <option>
      All
    </option>
  </select>
  <%= link_to new_facility_path, { class: 'btn btn-link', remote: true} do %>
    <span class="glyphicon glyphicon-plus"></span> Add New Facility
  <% end %>
  <hr>
</div>

<div id="new-facility">
</div>

<div id="list-facility">
  <%= render 'index' %>
</div>

<div id="facility-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="facility-content" class="modal-content">
    </div>
  </div>
</div>

