
  <!--content left-->
  <div class="col-lg-9">
    <%= image_tag  'rms_logo.png'%>
  </div>
  <!--content right-->
  <div class="col-lg-3 borderLeft2solidBlack">
    <form>
    <h3>Tech Support</h3><hr class="height2black">
    <div>
      <a href="" class="glyphicon glyphicon-envelope fontSize20"> Tech@eleAppz.com</a>
    </div><br>
    <h3>Testimonies</h3><hr class="height2black">
    <p id='testimonyContent'>
      XXXXXXXXXXXXXXXXXXXXXXX
      XXXXXXXXXXXXXXXXXXXXXXX
      XXXXXXXXXXXXXXXXXXXXXXX
             <br>ABC Condo
    </p>
      <input type="submit" name="submitTesti" value="Submit a Testimony" class="btn btn-primary"/>
    </form>
  </div>
  <!-- modal-->