<div class="row">
  <div class="col-md-9 col-xs-7">
  </div>
  <div class="col-md-3 col-xs-5 borderLeft2solidBlack">
    <form>
      <h3>Tech Support</h3>
      <hr class="height2black">
      <div>
        <a href="#" class="glyphicon glyphicon-envelope fontSize30 floatLeft" id="emailIcon"></a>
        <select class="form-control width85per float-right" id="emailSelect">
          <option>Tech@eleAppz.com</option>
          <option>Admin@eleAppz.com</option>
          <option>Secure@eleAppz.com</option>
        </select>

      </div>
      <br>

      <h3>Testimonies</h3>
      <hr class="height2black">
      <p id='testimonyContent'>
        XXXXXXXXXXXXXXXXXXXXXXX
        XXXXXXXXXXXXXXXXXXXXXXX
        XXXXXXXXXXXXXXXXXXXXXXX
        <br>ABC Condo
      </p>
      <input type="submit" name="submitTesti" value="Submit a Testimony" class="btn btn-primary"/>
    </form>
  </div>
</div>

