
  <!--content left-->
  <div class="col-lg-9">
    <%= image_tag  'rms_logo.png'%>
  </div>
  <!--content right-->
  <div class="col-lg-3">
    <h3>Tech Support</h3><hr style="height:2px; background-color: #000000">
    <div>
      <a href="" class="glyphicon glyphicon-envelope"></a>
    </div>

  </div>
