<div class="modal-header">
  <h4 class="modal-title">Drop Role</h4>
</div>
<div class="modal-body">
  <span>Are you really want to drop this role?</span>
</div>
<div class="modal-footer">
  <%= link_to 'Confirm', drop_role_path(@role), {class: 'btn btn-danger', method: :delete, remote: true} %>
  <%= link_to 'Cancel', '#', {class: 'btn btn-default', data: {dismiss: 'modal'}} %>
</div>
