<% if @form.errors.any? %>

<% else %>
$('#notifications').html('<div class="alert alert-success alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>House rule was successfully destroyed!</div>')
$('#list-form').html('<%= escape_javascript(render 'index') %>')
$('#form-modal').modal('hide')

setTimeout(function () {
    $('div.alert.alert-success.alert-dismissible').alert('close');
}, 1500);
<% end %>

