div.author-header {
  a.btn {
    float: right;
  }
  div {
  clear : both ;
  }
}
div.author-content{
	margin-top : 10px; 
   .user-content{
  width : 60% ;
   margin : 0px auto;
   table {
   margin-top: 10px;   
   }
   }
}


