/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
//require bootstrap
 *= require bootstrap-datetimepicker
 *= require_tree .
 *= require_self
 */

html {
  overflow-y: scroll;
}

body {
  padding-top: 5px;
}

#notifications {
  position: fixed;
  top: 45%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 350px;
  text-align: center;
  z-index: 999999;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.hidden {
  display: none;
}

a:hover {
  text-decoration: none;
}

.float-right {
  float: right;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #EEE;
}

.with100per {
  width: 100%;
}

.menu {
  float: left;
  width: 10%;
  border-radius: 0px !important;
}

.padding-20-px {
  padding-top: 20px;
  padding-bottom: 20px;
}

.paddingTop20px {
  padding-top: 20px;
}

.floatLeft {
  float: left;
}

.testbackground{
  background-color: red;
}

.align-center{
  text-align: center;
}

.div-frame{
  height: 180px;
  width: 90%;
  border: solid 2px dimgrey;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
}

.margin-auto{
  margin: auto;
}

.padding-left-30{
  padding-left: 30px;
}

select.form-control option {
  padding: 6px 12px;
}

textarea {
  resize: vertical;
}

