.bulletin-header {
  a.btn {
    float: right;
  }
}

.bulletin-center {
  min-height: 200px;
  text-align: center;
  vertical-align: bottom;
  display: table-cell;
  vertical-align: middle;
  background-color: #DDD;
}

.show-button {
  float: right;
}

