div.facility-header {
  a.btn {
    float: right;
  }
  select.form-control {
    width: 15%;
    display: inline
  }
}

.facility-center {
  display: table;
  height: 10em;
}

.facility-vcenter {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

.facility-button {
  text-align: right;
}

#list-facility .img-preview {
  cursor: pointer;
}

