div.facility-header {
  a.btn {
    float: right;
  }
  select.form-control {
    width: 15%;
    display: inline
  }
}

.facility-center {
  display: table;
  height: 10em;
}

.facility-vcenter {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

.facility-button {
  text-align: right;
}

div.btn{
  margin-top : 15px;
}
table.form-facility{
  td {
  padding: 5px;
  }
}

div.note{
  width :60%;
}


