.facility-status-image {
  position: relative;
  text-align: center;
  padding-bottom: 15px;
}

#file-image {
  display: none;
}

img#image-preview.img-thumbnail {
  cursor: pointer;
  height: 240px !important;
}

a.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
}

