div.form-header {
  a.btn {
    float: right;
  }
  select.form-control {
    width: 15%;
    display: inline
  }
}

p.alert {
  padding: 10px !important;
}

.form-button {
  text-align: center;
}

.content-iframe {
  height: 500px;
}

