#content-guard-house {
  .img-thumbnail {
    padding-right: 4px !important;
    padding-left: 4px !important;
  }
  .img-preview {
    cursor: pointer;
  }
}

.img-preview:hover {
  background: rgba(0,0,0,.75);
  opacity: 1;
}
.width-180{
  width: 180px;
}

