.borderLeft2solidBlack{
    border-left: 2px solid #000000;
}
.height2black{
    height: 2px;
    background-color: #000000;
}
.fontSize20{
    font-size: 20px;
}
.fontSize30{
    font-size: 30px;
}
.paddingBottom25px{
    padding-top: 25px;
}